:root{ 
	--mywidth: 100%;
	--myheight: 600px;
}
.carousel-content{
	width: var(--mywidth);
	height: var(--myheight);
	position: relative;
	overflow: hidden;
}
.carousel{
	height: var(--myheight);
	position: absolute;
}
.carousel li{
	float: left;
}
.img-index{
	position: absolute;
    bottom: 8px;
    left: 50%;
    display: flex;
    justify-content: center;
}
.img-index li{
	float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px;
    cursor: pointer;
    margin: 0 3px;
    color: #fff;
}
.img-index li.js_index,.img-index li:hover{
	background-color: rgba(0,0,0,0.7);
}
.carousel-prev,.carousel-next{
	position: absolute;
	display: inline-block;
	top: 45%;
	cursor: pointer;
    display: none;
}
.carousel-prev{
	left: 0;
}
.carousel-next{
	right: 0;
}