html {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer,
nav,
section,
article {
  display: block;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}
.cur {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.auto {
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.txtcenteralign {
  text-align: center;
}
.banner {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#content {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
#content .top {
  padding-top: 20px;
  position: relative;
}
#content .top .topimg {
  background: url(../images/top.png) no-repeat;
  width: 208px;
  height: 60px;
}
#content .top .topimg span {
  color: #fff;
  line-height: 60px;
  padding-left: 30px;
  font-size: 20px;
}
#content .top .bord2 {
  border-bottom: 5px solid #101113;
  position: absolute;
  width: 1185px;
  bottom: 0;
  overflow: hidden;
  left: 15px;
  z-index: -1;
}
#content .top .bord1 {
  border-bottom: 3px solid #101113;
  position: absolute;
  width: 630px;
  bottom: 15px;
  overflow: hidden;
  left: 15px;
  z-index: -1;
}
#content .new {
  margin-top: 20px;
}
#content .new ul li {
  font-size: 0;
  border: 2px solid #fff;
}
#content .new ul li:hover {
  border: 2px solid #a80202;
}
#content .new ul .left {
  float: left;
}
#content .new ul .left .left-bottom {
  padding-top: 10px;
}
#content .new ul .left .left-bottom li:first-child {
  float: left;
}
#content .new ul .left .left-bottom li:last-child {
  float: right;
}
#content .new ul .right {
  float: right;
}
#content .more {
  margin-top: -10px;
  height: 65px;
  position: relative;
}
#content .more .rectangle {
  width: 85px;
  height: 35px;
  position: absolute;
  right: 50px;
  top: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  background-color: #3f3e3e;
  text-align: center;
}
#content .more .landscape {
  width: 356px;
  position: relative;
  top: 35px;
  height: 5px;
  left: 844px;
  z-index: -1;
  background-color: #3f3e3e;
}
#content .more .portrait {
  width: 5px;
  height: 65px;
  position: absolute;
  right: 90px;
  z-index: -1;
  background-color: #3f3e3e;
}
#content .hot {
  margin-top: 20px;
}
#content .hot ul li {
  float: left;
  border: 2px solid #fff;
  margin-right: 13px;
}
#content .hot ul li a {
  color: #2c2c2c;
}
#content .hot ul li a div {
  background-color: #d7d3d3;
  height: 45px;
  line-height: 45px;
  margin-top: -4px;
}
#content .hot ul li a div > p:first-child {
  float: left;
  font-size: 14px;
  margin-left: 30px;
}
#content .hot ul li a div > p:last-child {
  float: right;
  font-size: 16px;
  margin-right: 20px;
}
#content .hot ul li:hover {
  border: 2px solid #a80202;
}
#content .hot ul li:hover a > div {
  background-color: #767575;
}
#content .hot ul li:hover a {
  color: #fff;
}
#content .hot ul li a > div.bigsize > p:first-child {
  float: left;
  font-size: 18px;
  margin-left: 30px;
}
#content .hot ul li a > div.bigsize > p:last-child {
  float: right;
  font-size: 24px;
  margin-right: 20px;
}
#content .hot ul li:nth-child(3n) {
  margin-right: 0;
}
#content .hot ul .hot-last li {
  margin-right: 10px;
}
#content .hot ul .hot-last li:nth-child(3n) {
  margin-right: 0;
  float: right;
}
#content .selected {
  margin-top: 20px;
}
#content .selected li {
  font-size: 0;
  float: left;
  border: 2px solid #fff;
}
#content .selected li:hover {
  border: 2px solid #a80202;
}
#content .selected ul.selected-first {
  float: left;
}
#content .selected ul.selected-first .first-bottom li:first-child {
  float: left;
}
#content .selected ul.selected-first .first-bottom li:last-child {
  float: right;
}
#content .selected ul.selected-second {
  float: right;
}
#content .selected ul.selected-second .second-bottom li:first-child {
  float: left;
}
#content .selected ul.selected-second .second-bottom li:last-child {
  float: right;
}
#content .explosion {
  margin-top: 20px;
}
#content .explosion .explosion-left {
  float: left;
  border: 2px solid #fff;
}
#content .explosion .explosion-left:hover {
  border: 2px solid #a80202;
}
#content .explosion .explosion-left:hover a > div {
  background-color: #767575;
}
#content .explosion .explosion-left:hover p {
  color: #fff;
}
#content .explosion .explosion-left a div {
  background-color: #d7d3d3;
  height: 116px;
  line-height: 116px;
  margin-top: -4px;
}
#content .explosion .explosion-left a div p {
  text-align: center;
  position: relative;
  font-size: 36px;
  color: #2c2c2c;
}
#content .explosion .explosion-left a div p span {
  background: url(../images/fire.png) no-repeat;
  width: 45px;
  height: 70px;
  line-height: 70px;
  display: block;
  position: absolute;
  right: 30px;
  top: 23px;
}
#content .explosion .explosion-right {
  float: right;
}
#content .explosion .explosion-right .right-first,
#content .explosion .explosion-right .right-second {
  border: 2px solid #fff;
}
#content .explosion .explosion-right .right-first:hover,
#content .explosion .explosion-right .right-second:hover {
  border: 2px solid #a80202;
}
#content .explosion .explosion-right .right-first:hover a > div,
#content .explosion .explosion-right .right-second:hover a > div {
  background-color: #767575;
}
#content .explosion .explosion-right .right-first:hover p,
#content .explosion .explosion-right .right-second:hover p {
  color: #fff;
}
#content .explosion .explosion-right .right-second {
  margin-top: 16px;
}
#content .explosion .explosion-right a div {
  background-color: #d7d3d3;
  height: 40px;
  line-height: 40px;
  margin-top: -4px;
}
#content .explosion .explosion-right a div p {
  text-align: center;
  font-size: 24px;
  color: #2c2c2c;
}
footer .footerone {
  width: 1200px;
  margin: 0 auto;
}
footer .footerone .first-footer {
  width: 783px;
  margin: 0 auto;
}
footer .footerone .first-footer li {
  width: 126px;
  padding: 0 62px;
  float: left;
}
footer .footerone .first-footer li a {
  width: 84px;
  height: 84px;
  display: block;
  margin: 0 auto;
}
footer .footerone .first-footer li a p {
  position: relative;
  top: 94px;
  left: -21px;
  font-size: 18px;
  width: 150px;
  color: #2c2c2c;
}
footer .footerone .first-footer li:first-child a {
  background: url(../images/ft1.png) no-repeat;
}
footer .footerone .first-footer li:nth-child(2) a {
  background: url(../images/ft2.png) no-repeat;
}
footer .footerone .first-footer li:last-child a {
  background: url(../images/ft3.png) no-repeat;
}
footer .footerone .second-footer {
  padding-top: 60px;
  width: 1002px;
  margin: 0 auto;
}
footer .footerone .second-footer dl {
  float: left;
  padding-right: 138px;
}
footer .footerone .second-footer dl dt {
  font-size: 22px;
}
footer .footerone .second-footer dl dd {
  font-size: 16px;
}
footer .footerone .second-footer dl dd a {
  color: #2c2c2c;
}
footer .footerone .second-footer dl:last-child {
  padding-right: 0;
}
footer .footertwo {
  background-color: #101113;
  height: 70px;
  margin-top: 55px;
}
footer .footertwo .copyright {
  line-height: 70px;
  width: 783px;
  margin: 0 auto;
}
footer .footertwo .copyright p {
  color: #fff;
  font-size: 14px;
}
footer .footertwo .copyright p:first-child {
  float: left;
}
footer .footertwo .copyright p:last-child {
  float: right;
}
